<!DOCTYPE html>
<html ng-app="viewerApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Implem viewer</title>

	<link rel="stylesheet" type="text/css" href="static\css\bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="static\css\bootstrap.min.css">

	<script src="static\js\jquery.js"></script> 
	<script src="static\js\angular.js"></script> 
	<script src="static\js\pdf.js"></script> 
	<script src="static\js\pdf.worker.js"></script> 
	<script src="static\js\bootstrap.min.js"></script> 

	<script src="src\app.js"></script>

	<style type="text/css">
		.dotted{
			border-width:5px;	
   			border-style:dotted solid;
   			border-color: black;
		}
		canvas{
			width:100%; 
			height:100%;
		}
	</style>
</head>

<body ng-controller="ViewerController">
	<h1>{{message}}</h1>
	
	<p>Actual image is: {{displayedImage}}</p>
	<p>Actual PDF is: {{displayedPDF}}</p>

	<p>For firefox going to about:config and setting security.fileuri.strict_origin_policy to false can solve pdf.js issue</p>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 dotted">
				<div class="row">
					<div class="col-md-3">
						<h1>Images</h1>
						<p ng-click="displayImage('Koala.jpg')">Koala</p>
						<p ng-click="displayImage('Penguins.jpg')">Penguins</p>
					</div>
					<div class="col-md-9">
						<h1>Preview</h1>
						<img ng-src="{{displayedImage}}" class="img-responsive" />
					</div>
				</div>
			</div>

			<div class="col-md-6 dotted">
				<div class="row">
					<div class="col-md-3">
						<h1>PDF</h1>
						<p ng-click="changePDF('Hello.pdf')">Hello</p>
						<p ng-click="changePDF('World.pdf')">World</p>
					</div>
					<div class="col-md-9">
						<h1>Preview</h1>
						<canvas id="canvas"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>	